html, body {
  height: 100%;
  background-image: linear-gradient(to bottom right, blue, cyan);
}

.App {
  width: 70%;
  margin: auto;
  margin-top: 4rem;
}

.card-body {
  padding: 1rem;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
